html {
    font-family: "Times New Roman", sans-serif;
    font-size: larger;
    box-sizing: border-box;
    background-color: #d0c3ea;
    text-align: center;
    padding-top: 25px;
}

header {
    font-size: xx-large;
    font-weight: bold;
    padding: 10px;
    margin: auto;
}

img {
    margin: auto;
    display: flex;
    height: 400px;
    width: 300px;
    object-fit: cover;
}

#genre {
    font-weight: bold;
}

#summary {
    font-size: 20px;
    padding-top: 15px;
    padding-left: 100px;
    padding-right: 100px;
}

#url {
    text-decoration: None;
    font-size: 20px;
    font-weight: bold;
    color: #131313;
}